{
  "extends": ["stylelint-prettier/recommended"],
  "rules": {
    "prettier/prettier": true,
    "rule-empty-line-before": ["always-multi-line", { "except": ["first-nested", "after-single-line-comment"] }]
  }
}
